<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="webApiTest">
      <section name="security" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <webApiTest>
    <security>
      <add key="AppliesToAddress" value="http://localhost/" />
      <add key="DigestAlgorithm" value="http://www.w3.org/2001/04/xmlenc#sha256" />
      <add key="MatchAllRoles" value="false" />
      <add key="SignatureAlgorithm" value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha256" />
      <add key="SymetricKey" value="&lt;test web api random secret&gt;" />
      <add key="ValidIssuer" value="mcibique" />
    </security>
  </webApiTest>
  <appSettings/>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="layoutHeader" value="---[${longdate}]---[${level}]-------------------------------------------------------------------------------&#xD;&#xA;" />
    <variable name="layoutContent" value="&#xD;&#xA;${literal:text=\t}${message}&#xD;&#xA;" />
    <variable name="layoutFooter" value="" />
    <variable name="logsDir" value="${basedir}../logs/web" />
    <targets>
      <default-target-parameters xsi:type="File" keepFileOpen="false" fileName="${logsDir}/${shortdate}.${logger}.log" layout="${layoutHeader}${layoutContent}${layoutFooter}" />
      <target name="web" xsi:type="File" />
    </targets>
    <rules>
      <logger name="web" writeTo="web" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>